<div style="margin-left: auto; margin-right: auto; margin-top: 30px; width: 30%;">
	<h1>Here are your results bro:</h1>
</div>

<% @searchmovie.each do |movie| %>
	<div class="border rounded bg-light" style="margin-left: auto; margin-right: auto; width: 70%; margin-top: 15px; margin-bottom: 15px; padding: 20px; border: 1px solid Black;">
		<%= url = "https://image.tmdb.org/t/p/w600_and_h900_bestv2#{movie.poster_path}" %>
		<img src=<%=url%>> 
		<br/>
		<br/>
		<%= movie.title %>
		<br/>
		<br/>
		<%= movie.release_date %>
		<br/>
		<br/>
		<%= Tmdb::Movie.casts(movie.id) %>
		<br/>
		<br/>
	</div>
<% end %>
